 html{
    scroll-behavior: smooth;
} 
* {
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    background-color: black;
    opacity: 80%;
}
nav {
    background-color: rgb(40, 60, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    color: white;
    border-bottom: 2px white solid;
    z-index: 1;
    box-shadow: 0 0 10px 0 black;
}

.navicon {
    font-size: 1.5rem;

}

.navtitle {
    font-size: 1.5rem;
    font-family: cursive;
}

.acc {
    padding: 10px;
    padding-right: 30px;
}

.acc button {
    padding: 5px;
    background-color: transparent;
    border: none;
    transition: .1s;
    font-size: 1rem;
    color: white;
}

.acc button:hover {
    background-color: white;
    border-radius: 18px;
    color: rgb(40, 60, 72);
}

.bgimg {
    margin-top: 70px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 70%;
    z-index: -1;
}

.sps {
    height: 70px;
    width: 100%;
}
#daystat{
    text-align: right;
    color: white;
    padding: 10px;
}
.btnset1 {
    padding: 10px;
    
    display: flex;
    justify-content: space-between;
}

.btnset1 button {
    padding: 10px;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border-color: white;
    transition: .1s;
    margin-right: 10px;
}

.btnset1 button:hover {
    color: rgb(40, 60, 72);
    background-color: white;
    border-color: rgb(40, 60, 72);
}



#logbox {
    display: none;
    
}

.logcon {
    position: fixed;
    height: fit-content;
    min-width: 250px;
    background-color: rgba(40, 60, 72,.8);
    transform: translateX(40vw);
    text-align: right;
    border-radius: 7px;
    animation-name: evolve;
    animation-duration: 1s;



}

@keyframes evolve {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

#logclsbtn {
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border: none;
    padding-right: 5px;
}

#logclsbtn:hover {
    color: black;
}

.logcon .logarea {
    padding: 10px;
    font-size: 1.3rem;
}

.loghead {
    text-align: center;
    color: white;
    padding: 0 5px 10px 5px;

}

.logbody {
    text-align: center;
    padding: 3px;
}

.logbody input {
    width: 20vw;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.logbody button {
    border-radius: 15px;
    padding: 8px;
    border: none;
}
#signbox{
    display: none;
}
.signcon {
    position: fixed;
    height: fit-content;
    min-width: 250px;
    background-color: rgba(40, 60, 72, .8);
    transform: translateX(40vw);
    text-align: right;
    border-radius: 7px;
    animation-name: evolve;
    animation-duration: 1s;
}
.signcon .signarea{
    padding: 10px;
    font-size: 1.3rem;
}
#signclsbtn {

    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border: none;
    padding-right: 5px;

}
#signclsbtn:hover{
    color: black;
}
.signhead {
    text-align: center;
    color: white;
    padding: 0 5px 10px 5px;

}
.signbody{
    text-align: center;
    padding: 3px;
}
.signbody input {
    width: 20vw;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}
#confirm{
    text-align: left;
    padding: 10px 0;
    color: white;
    font-size: .8rem;
    
}
.signbody button{
    border-radius: 15px;
    padding: 8px;
    border: none;
}

footer{
    background-color: rgb(40, 60, 72);
    text-align: center;
    font-size: 1.1rem;
    color: white;
    border-top: 2px white solid;
}
footer div{
    padding: 10px 0;
    font-family: monospace;
}